/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/var/cache/*
/app/config/parameters.yml
/app/logs/*
/var/logs/*
/app/Resources/views/base.html.twig
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

web/css/*
web/ng/*

node_modules
.grunt
.lock-wscript
*.log

web/bower_components
bower_components

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.idea/
