<div class="container-fluid">
    <div clas="row">
        <ul ng-controller="MainCtrl as ctrl">
            <li>[[ helloSquare ]]</li>
            <li ng-bind=helloBind></li>
            <li>{{ hello }}</li>
        </ul>
        <p>Twig says the Request URI is {{ app.request.requestUri }}</p>
    </div>
</div>
