<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="dsbaars">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- injector:css -->
        <!-- endinjector -->
    </head>
    <body>
        {% block body %}{% endblock %}
        <!-- injector:js -->
        <!-- endinjector -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
